* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background: #4d4d4d;
}
#box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}
h2 {
  background-color: #252525;
  color: white;
  margin: 20px 10px;
  padding: 20px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  width: 250px;
  cursor: pointer;
}
h2:hover {
  box-shadow: #2f4858 0px 54px 55px, #2f4858 0px -12px 30px, #2f4858 0px 4px 6px,
    #2f4858 0px 12px 13px, #2f4858 0px -3px 5px;
  transition: 0.5s;
}
.title {
  color: white;
  margin: auto;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 30px;
}
input {
  width: 400px;
  border: none;
  background-color: #2f4858;
  padding: 20px 20px;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  text-align: center;
  margin: auto;
  margin-bottom: 25px;
  color: #6cc417;
}
#tytul {
  color: #fff;
  text-align: center;
  margin: 20px;
}
footer {
  height: 100px;
  background: #252525;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}
